:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* top nav style */
.topnav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: #212934;
}

.topnav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 40px;
    color: #fff;
}

.topnav_contect ul {
    display: flex;
    flex-direction: row;

    & li {
        margin: 20px;
        list-style: none;
        cursor: pointer;
        font-size: .9rem;
    }
}

.topnav_social-contect ul {
    display: flex;
    flex-direction: row;

    & li {
        font-size: 0.9rem;
        margin: 8px;
        list-style: none;
        cursor: pointer;
    }
}

/* end top nav */

/* start nav */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-bottom: 2px solid #e9eef5;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;

}

.nav_container ul {
    display: flex;
    flex-direction: row;

    & li {
        margin-right: 15px;
        list-style: none;
        font-size: 20px;
    }
}


.nav_category ul li {
    margin-right: 6rem;

    & a {
        color: #212934;
    }

    & a:hover {
        color: #20c997;
        transition: 0.3s;
    }
}

.nav_funtional ul li {
    margin-right: 2rem;
    position: relative;

    & a {
        color: var(--bs-dark);
    }
}

.user,
.count {
    position: absolute;
    width: 25px;
    top: -13px;
    left: 15px;
    text-align: center;
    font-size: 13.5px;
    font-weight: 600;
    background-color: #e9eef5;
    border-radius: 50%;
    color: #20c997;
}

.nav_logo {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

/* end nav */

/* start carousel  */
.carousel_container {
    max-width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.carousel_box {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    animation: fadein 1s ease-out;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
}

.carousel_box.active {
    /* animation: fadein 1s ease-out both; */

}

.carousel_info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    text-align: left;
    padding: 80px;


}

.carousel_info h1 {
    font-size: 50px;
    color: #198754;

}

.carousel_info h3 {
    font-size: 30px;
    color: var(--bs-dark);
    font-weight: 500;
    margin-top: 10px;

    & span {
        color: #198754;
        font-size: 40px;

    }
}

.carousel_info p {
    font-size: 16px;
    opacity: 0.5;
    margin-top: 20px;

}


.carousel_img {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;

}

.carousel_img img {
    object-fit: contain;
    object-position: left;
}

.carousel_box.active {
    display: flex;
}

.carousel_indicator {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

/* style of dots */
.carousel_indicator ul li {
    cursor: pointer;
    height: 4px;
    width: 30px;
    margin: 0 2px;
    background-color: var(--bs-green);
    display: inline-block;
    opacity: 0.4;

    &.active {
        opacity: 1;
    }
}

.carousel_arrow {
    display: flex;
    width: 100%;
    height: 650px;
    position: absolute;
    align-items: center;
    justify-content: space-between;

    & a {
        color: #198754;
        font-size: 30px;
        opacity: 0.6;
        margin: 15px;
    }

    & a:hover {
        opacity: 0.9;
        transition: .3s ease-in-out;
        transform: scale(1.1);
    }
}


/* start category for index page */

.category_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 800px;
    background: white;

}

.category_header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}

.category_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category_header-info h1 {
    font-size: 55px;
    font-weight: 300;
    color: #343a40;
    margin-bottom: 10px;
}

.category_header-info h3 {
    font-size: 20px;
    font-weight: 250;
}

.category_box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.category_box img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category_info h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
}

.category_item button {
    font-size: 18px;
    color: #fff;
    background-color: #198754;
    padding: 10px;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
    width: 100px;
}

.category_item button:active {
    transform: scale(0.95);
}

/* end category */


/* start footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 800px;
    background-color: #E9EEF5;
}

.footer_info h1 {
    font-size: 50px;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}

.footer_info h4 {
    font-size: 20px;
    font-weight: 100;
    line-height: 10px;
}

.footer_container-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;

}

.item {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.item img {
    width: 100%;
    height: 100%;

}

.card_body {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.card_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_rating li {
    list-style: none;
    margin-top: 10px;
}

.fa-star {
    font-size: 20px;
    opacity: 0.9;
    color: #6c757d;
}

.fa-star.active {
    color: var(--bs-yellow);
    font-size: 20px;
    opacity: 0.9;
}

.card-price {
    font-size: 20px;
    color: #6c757d;
    opacity: 0.6;
}

.item-info h1 {
    font-weight: 300;
    margin-top: 10px;
}

.item-info p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 100;
}

.card_review {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.card_review h3 {
    font-size: 20px;
    font-weight: 100;
    opacity: 0.6;
}

/* end footer */

/* start footer contect */

.footer_contect {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #212934;
    color: #CFD6E1;
}

.footer_contect-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    height: 500px;
    border-bottom: rgba(255, 255, 255, 0.15) 0.5px solid;
    padding-left: 300px;
    padding-right: 300px;
}

.footer_contect-container div {
    margin-top: 40px;
    margin-right: 10px;
}

.contect_container h1,
.further_container h1,
.products_container h1 {
    font-size: 40px;
    font-weight: 300;
    border-bottom: rgba(255, 255, 255, 0.15) 0.5px solid;
}

.contect_container ul,
.further_container ul,
.products_container ul {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 10px;
}

.contect_container li:hover,
.further_container li:hover,
.products_container li:hover {
    color: var(--bs-success);
    cursor: pointer;
    transition: 0.5s ease;
}

.contect_container i {
    margin-right: 10px;
}

.footer_last-container {
    display: flex;
    width: 70%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.footer_last-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 40px;

    & li {
        margin-right: 20px;
        cursor: pointer;

    }

    & li:hover {
        color: var(--bs-green);
        transition: 0.4s ease;
    }
}

.footer_email {
    display: flex;
    width: 20%;
    height: 50px;
}

.footer_email input {
    background-color: #212934;
    color: #fff;
    border: var(--bs-secondary) 1px solid;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 16px;
}


.footer_email button {
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: var(--bs-green);
    color: #fff;

}

.footer_email button:active {
    transform: scale(0.98);
}

/* end of index page */




/* start shop page */

.container {
    display:flex;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    position: relative;
   
    
}

.container-box {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.sidebar_container {
    display: flex;
    width: 25%;
    background-color: #FFF;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar_container h3 {
    font-size: 40px;
    font-weight: 500;
    color: #20c997;
}

.category-list {
    margin-top: 20px;
    color: #212529;
    width: 100%;
}

.category-list ul {
    font-weight: 100;
    list-style: none;
    line-height: 45px;
}

.category-list ul li {
    cursor: pointer;
    position: relative;
    & a {
        text-decoration: none;
        color: #212529;
        font-weight: 100;
        font-size: 25px;
    }
}

.category-list ul li i {
    font-size: 25px;
    position: absolute;
    right:30%;
    transform: rotate(180deg);
    top: 10px;
    transition: 0.3s ease-out;
}
.list {
    display: none;

}

.list  li {
    font-size: 20px;
}

.list  li:hover {
    color: #198754;
    transition: 0.3s ease-out,text-decoration 0.3s ease-out;
    text-decoration: underline 1px solid #343a40;

} 

.list.active {
    display: block;
    animation: showcat 0.5s ease;
}


.content_container {
    width: 75%;
    display: flex;
    /* background: #fd7e14; */
}

.icon-sidebar.active {
    transform: rotate(360deg);
    transition: 0.3s ease-in-out;
}

/* end sidebar  section*/

/* strat content  section*/
.content_container{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 50PX;
}
.header-content {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;

}

.header-title {
    font-size: 35px;
    font-weight: 100;
}

.search-box{
    width: 35%;

}

.search-box input {
    width: 100%;
    height:40px;
    border: none;
    border-radius: 5px;
    box-shadow: #6c757d 1px 1px 5px;
    outline: none;
    font-size: 15px;
    padding-left: 15px;
    
}

.search-box input:focus {
   outline: #20c997 4px solid; 
    opacity: 0.8;
    transition:  0.2s ease-in-out;
}

.content-box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 20px;

}

.card-content {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    
}

.card-content:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.card {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    
}


.card-img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-top: 10PX;
    height:100%;
    width: 100%;    
    padding-left: 10px;
}

.card-title {
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 5px;
}

.card-des {
    font-size: 16px;
    color: #6c757d;
    
}

.card-price {
    margin-top: 20px;
    font-size: 25px;
    color: #198754;
    font-weight: 600;
}

.card-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #198754;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    opacity: 0.8;
    }

.card-btn:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: absolute;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    
}

.modal-img{
width: 50%;
height: 100%;

}
.modal-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px 0px 0px 10px;
}
.card-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    & h2 {
        font-size: 35px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-weight: 400;
        color: #198754;
    }

    & p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    & h3 {
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 20px;
        color: #dc3545;
    }
    & h4 {
        font-size: 20px;
        font-weight: 100;
        margin-top: 20px;
        color: #343a40;
    }
}

.modal-btn {
    font-size: 18px;
    margin-top:50px;
    background-color: #198754;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.8;
   
}

.modal-btn:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.modal-close {
    font-size: 18px;
    margin-top:10px;
    background-color: #dc3545;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

/* end modal */

/* strat cart */
.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.cart {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: relative;
    margin-top: 10%;
    padding: 15px;
    overflow: auto;
}

.cart-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    position: relative;

    & h1 {
        font-size: 40px;
        font-weight: 100;
        color: #198754;
    }
}

.card-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);


    & div {
        width: 32%;
        height: 100%;
        margin-right: 10px;
    }
}

.cart-img{
    display: flex;
align-items: center;
justify-content: center;
} 

.cart-img  img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 10px; 
}

.cart-img  img:hover{
    transform: scale(1.1);
    transition: 0.5s ;
    cursor: pointer;
}

.cart-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

& h2 {
    font-size: 25px;
    font-weight: 100;
    color: #343a40;
    margin-right: 20px;
}

& h3 {
    font-size: 20px;
    font-weight: 200;
    color: #dc3545;
    margin-right: 20px;
}
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.total-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & span {
        font-size: 20px;
    }
}

.fa-xmark {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    cursor: pointer
    
}

.fa-xmark:hover {
    color: #dc3545;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


.fa-minus,.fa-plus {
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #343a40;
    padding: 5px;
}

.fa-minus:hover,.fa-plus:hover {
    background-color: #343a40;
    color: #fff;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

#cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}

/* check out */
.container-checkout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 40px;
}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;

    & span {
        color: #dc3545;
    }
}

.total-price {
    font-size: 30px;
}

.checkout-btn{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #dc3545;
    border-radius: 5px;
}

.checkout-btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.not-found{
    margin-top: 10%;
    font-size: 40px;
    color: #212529;
    text-align: center;
}

/* end of cart */

/* start checkout page */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}
.container-checkoutpage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.container-address {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.address-title{
    color: #198754;
    font-size: 30px;
}

.address-customer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15px;

    & h3 {
        margin-top: 5px;
    }
}

.edit-address{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #ffc107;
    color: #fff;
    opacity: 0.9;
}

.edit-address:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.form-container{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px;
    left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 500px;
    height: 500px;
    background-color: #fff;
    box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.2) ;
    padding: 50px;
    border-radius: 10px;
    z-index: 100;
}

.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15px;

    & label {
        font-weight: 600;
        margin-bottom: 5px;
    }

    & input {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 10px;
        background-color: whitesmoke ;
        color: black;
        font-size: 14px;
        padding: 10px;
        margin: 10px;

        &:focus {
            transform: scale(1.05);
            outline: #198754 2px solid;
            transition: 0.2s ease-in-out;
        }
    }

    & button {
        height: 40px;
        margin-top: 15px;
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #20c997;
        color: #fff;

        &:hover {
            transform: scale(1.05);
            transition: 0.2s ease-in-out;
        }
    }
}

/* end of checkout */

/* start odered */

.container-odered{
    display: flex;
    flex-direction: column;
    width: 90%;
    height:100%;
    padding-left: 10%;
}

.odered {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin-top: 5px;
}

#Address{
    height: 100px;
}


.oder-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.container-payment{
    width: 90%;
    height: 100%;
    padding-left: 10%;
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin-top: 5px;

    & h1 {
        color: #198754;
        font-size: 30px
    }
}

.payment-category{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.payment-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.payment-item {
    list-style: none;
    margin-right: 5rem;
    border: #6c757d 1px solid;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.payment-item.active {
    opacity: 1;
    border: #198754 2px solid;
    color: #198754;
}

.QRpayment {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    opacity: 0;
    transition:  0.5s ease-in-out;

}

.QRpayment.show{
    display: flex;
    opacity: 1;
}

.Qrpayment-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    padding: 30px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    

    & h2 {
        display: flex;
        justify-content: space-between;
        width: 70%;
        font-size: 20px;
        font-weight: 100;
        margin-top: 20px;
        border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    }
}

.payment-btn {
        height: 40px;
        width: 70%;
        margin-top: 15px;
        font-size: 25px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #20c997;
        color: #fff;
        text-align: center;
       
}

.payment-btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.creditpayment {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.form-container-payment {
    display: flex;
    justify-content: center;
    width: 30%;
    transform: translateX(-20%);
}

.form-payment input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #CFD6E1;
}

.clashpayment{
    display: flex;
    margin-top: 30px;
}

.Qrpayment-info {
    margin-top: 20px;
}



/* responsive */
@media (max-width: 994px) {
    .topnav {
        display: none;
    }
}


/* animation section */
@keyframes fadein {
    0% {
        opacity: 0.3;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeout {
    0% {
        opacity: 0.4;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes showcat {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0px);
    }
}